.my-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%; 
    background: #272935;
    height: 80px;   
  }
  
  .my-header h1{
    color: white;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" ;
  }

 .logo-nav 
 {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace ;
    color: white;
  
  }
.logo-nav:hover{
  text-decoration: none;

}
.ad-ul li a{
  padding-top: 20px;
}
  .btn-nav{
    background: #272935;
    color: white;
    font-size: 30px;
    display: flex;
    border: none;
    
  }
  .arrow-down {
    width: 0px;
    height: 0px;
    margin-top: 24%;
    margin-left: 7%;
    
    
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid white;
  }
  .arrow-down1 {
    width: 0px;
    height: 0px;
    margin-top: 29%;
    margin-left: 9%;
    
    
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid white;
  }
  .drop-nav{
    display: none;
    position: absolute;
    width: 200px;
    top: 70px;
    right: 1%;
    background: #272935;
    padding: 10px;
    z-index: 1;
    transition-delay: 5s;
  }
  .drop-nav a{
    display: block;
    color: white;
    text-decoration: none;
    font-size: 25px;
  }
  .btn-nav:hover + .drop-nav, .btn-nav:focus + .drop-nav {
    display: block;
  }
  
  .drop-nav:hover{
    display: block;
    transition-delay: 0s;
  }

  .ad-ul{
    display: flex;
    padding: 5px;
    text-decoration: none;
    font-size: 20px;

  }
.logo-nav{
  text-decoration: none;
}
/*  errors */
.error {
  color: red;
}





/*FORMS  */




  .my-form {
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
    

  }
  
  .my-form label {
    font-weight: bold;
    color: #343a40;
  }
  
  .my-form input,
  .my-form textarea {
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
  }
  
  .my-form input:focus,
  .my-form textarea:focus {
    box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
  }
  
  .my-form button {
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: #fff;
    font-weight: bold;
  }
  
  .my-form button:hover {
    background-color: #0062cc;
  }
  
  .my-form button:focus {
    outline: none;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
  }



.pinfo{
  background-color: #272935;
  border-radius: 10px;
  width: 700px;
  height: auto;
  padding: 15px;
  color: white;
  text-align: left;
 
  
  
}  

.left-edit{
  position: relative;
  margin-top: 5%;
  margin-left: 5%;
  text-align: left;
}
.right-edit{
  margin-top: 5%;
  margin-left: 5%;
}

.prf-img{
  width: 5px;
  height: 50px;
}
.editt{
  background:#F4F4F2;
  height:900px;
  overflow: hidden;
  display: flex;
}



.personal-info {
  display: flex;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
}

.profile-image img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.user-info h2 {
  font-size: 28px;
  font-weight: bold;
  color: black;
  margin-bottom: 10px;
}

.user-info p {
  font-size: 18px;
  color: black;
  margin-bottom: 5px;
}

.user-info strong {
  font-weight: bold;
  color: black;
  margin-right: 10px;
}

.contain-admin{
  margin-left: 3%;
  margin-top: 3%;
  
}
