
/* Globals */


*{
   
    margin: 0;
    padding: 0;
    
}
/* Login - Register*/
.logreg{
  background: #F4F4F2;
  height: 910px;
}
.center{
  width: 500px;
  background: white;
  border-radius: 10px;
  box-shadow: 10px 10px 15px 20px rgba(0,0,0,0.05);
  position: absolute;
  bottom: 24%;
  left: 35%;
  }

  .center h1{
    text-align: center;
    padding: 20px 0;
    margin-top: 35px;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    border-bottom: 1px solid silver;
  }

  .center form{
    padding: 0 40px;
    box-sizing: border-box;
  }
  form .txt_field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
  }
  
.bttns1, .bttns2{
  background: #272935 border-box;
  border-radius: 50em;
  border: 4px solid transparent;
  
  display: inline-flex;
  transition: all .2s ease-in-out;
  font-size: 25px;
  color: white;
  cursor: pointer;
  width: 200px;
  height: 60px;
  
  }
  .bttns1{
  background: #272935 border-box;
  border-radius: 50em;
  border: 4px solid transparent;
  
  display: inline-flex;
  transition: all .2s ease-in-out;
  font-size: 25px;
  color: white;
  cursor: pointer;
  width: 200px;
  height: 60px;
  
  }
.bttns1{
    padding: 0.6rem 3.2rem;
  }
.bttns2{
  padding: 0.6rem 3.8rem;
  }

div .bttns{
  text-align: center;
  
}
.bttns1:hover, .bttns2:hover{
    transform: scale(1.1);
    
  }

  .txt_field label{
    
    top: 50%;
    left: 5px;
    color: #6e6e6e;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
  }



.txt_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
  }






 /* ADMIN table */

.ad-btn{
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  background-color: #F4F4F2;
  color: black;
  cursor: pointer;
}
.button-container {
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  gap: 10px; 
}
.stylez{
 
  margin-right: 80px;
  position: absolute;
  bottom: 2.5%;
  right: 3%;
  
}
.stylez button{
  background-color: #f2f2f2;
  color: black;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px 10px;
  margin: 2px;
  cursor: pointer;
  transition: background-color 0.3s ease;
 
}

.stylez button:hover:not(.active) {
  background-color: #ddd;
}

table th.sort-asc:before {
  content: '\2191 '; /* Up arrow */
}
table th.sort-desc:before {
  content: '\2193 '; /* Down arrow */
}
.table-cardh{
  display: inline;
}
.cardh{
  position: absolute;
  right: 5%;
  top: 13%;
}
.cardh button{
  background-color: #f2f2f2;
  color: black;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px 10px;
  margin: 2px;
  cursor: pointer;
  transition: background-color 0.3s ease;
 
}












/* sidebar*/

.all-container {
  display: flex;
}

.content-all {
  flex: 1;
  overflow-x: visible;
  transition: transform 0.3s ease-in-out;
}



.navbar-toggle {
  display: flex;
  align-items: center;
  color: white;
  cursor: pointer;
 
  
}

.toggle-icon {
  position: absolute;
  left: 1%;
  width: 0px;
  height: 54px;
  font-size: 35px;
  color: #fff;
  
  


 
}

.sidebar {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: all 0.2s ease-in-out;
}

#content-all {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 200px);
  transform: translateX(200px);
  height: 100%;
  
  transition: all 0.2s ease-in-out;
}

.sidebar ul {
  list-style: none;
  padding: 3%;
  
  
}

.sidebar li {
  margin-bottom: 10px;
  
  
}

.sidebar a {
  
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 25px;
  padding-left: 65px;
  border-radius: 10px;
  
}
.sidebar a:hover{
  background-color: #262835; 
}
 a.active {
  background-color: #262835; 
}


.success{
  position: absolute;
  
margin-left: 30%;
  color: darkblue;
}
.success1{
  position: absolute;
  
top: 70%;
  color: darkblue;
}

